body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
 width: 100vw;
}

.header {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: #fff;
}

/* Parallax section */
.parallax-section {
    background-image: url('https://img.freepik.com/free-vector/futuristic-black-yellow-gaming-background_331749-887.jpg?t=st=1723737601~exp=1723741201~hmac=a59038877bac5bfd5af6f8dbf8dd4477eafa70097c67a941dc9ec8fb3d60bd38&w=996'); /* Replace with your image */
    height: 500px; /* Adjust height as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; width: 100vw;

}

.parallax-section .content {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    padding: 20px;
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 10px;
}

/* Non-parallax content section */
.info-section {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.info-section .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
